node_modules/
.next/
out/
dist/
build/
coverage/
.cache/

.env
.env.local
.env.*
!.env.example

convex/.tmp/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.swp
*.swo
*.tmp
*.temp

.DS_Store
Thumbs.db

tsconfig.tsbuildinfo

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
